<!-- Hero Section -->
<div class="d-lg-flex position-relative">
  <div id="SVGwaveBottom3Shape" class="container d-lg-flex align-items-lg-center height-lg-100vh space-2 space-top-md-4 space-lg-0 mt-lg-5" style="">
    <!-- Blog -->
    <div class="w-lg-50">
      <!-- Author -->
      <div class="media align-items-center mb-4">
        <div class="u-sm-avatar mr-3">
          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <h4 class="d-inline-block mb-0">
            <a class="d-block h6 mb-0" href="../blog/single-article-classic.html">Andrea Gard</a>
          </h4>
        </div>
      </div>
      <!-- End Author -->

      <!-- Info -->
      <div class="mb-4">
        <h1 class="text-primary display-4 font-size-md-down-5 font-weight-semi-bold">Digital agency to watch in 2018</h1>
        <p class="lead">Front makes you look at things from a different perspectives.</p>
      </div>
      <!-- End Info -->

      <a class="btn btn-primary btn-wide transition-3d-hover" href="../blog/single-article-classic.html">
        Read More
        <span class="fas fa-angle-right ml-2"></span>
      </a>
    </div>
    <!-- End Blog -->

    <!-- SVG Shapes v4 -->
    <figure class="d-none d-lg-block w-75 position-absolute bottom-0 left-0 z-index-n1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="100%" height="300px" viewBox="0 0 1250 323" style="enable-background:new 0 0 1250 323;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGwaveBottom3Shape">
<style type="text/css">
	.wave-3-bottom-0{fill:#377DFF;}
</style>
        <path class="wave-3-bottom-0" opacity=".05" d="M1250,322.8c0,0-50.4-39.9-123.7-54.3c-90.3-17.7-210.9-70.1-210.9-70.1S806,129.1,596.6,164  c-68.1,11.3-140,7.5-200.6-11.9c-42.2-13.5-77.1-32.8-103.7-53.9c-15.2-12.1-31.2-24-50.7-34.4c-20.6-11.1-43.2-21.3-67.5-30.3  C123.6,14.8,63.9,1.3,0.3,0l0,322.8H1250z"></path>
        <path class="wave-3-bottom-0" opacity=".05" d="M0,73.2c0,0,154.1-11.9,305.5,59.2s421.4,27.9,421.4,27.9s236.3-54.7,388.7,82.6c0,0,59.4,42.6,87.4,80.1H0  L0,73.2z"></path>
</svg>
    </figure>
    <!-- End SVG Shapes v4 -->

    <!-- Sidebar -->
    <div class="col-lg-4 bg-img-hero position-lg-absolute top-lg-0 right-lg-0 bottom-lg-0 px-lg-0 space-2" style="background-image: url(../../assets/img/500x900/img1.jpg);">
      <!-- Fancybox -->
      <div class="text-center text-lg-left mb-3 mb-lg-0">
        <a class="js-fancybox u-media-player u-media-player--left-minus-50x-top-50x-lg mb-4" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
             <span class="u-media-player__icon u-media-player__icon--lg u-media-player__icon--box-shadow">
              <span class="fas fa-play u-media-player__icon-inner"></span>
             </span>
        </a>
      </div>
      <!-- End Fancybox -->

      <!-- Testimonials -->
      <div class="position-lg-absolute right-lg-0 bottom-lg-0 left-lg-0 w-80 w-lg-100 mx-auto p-md-7">
        <div class="js-slick-carousel u-slick slick-initialized slick-slider slick-vertical" data-adaptive-height="true" data-autoplay="true" data-speed="5000" data-vertical="true" data-vertical-swiping="true">
          <div class="slick-list draggable" style="height: 215.333px;"><div class="slick-track" style="opacity: 1; height: 431px; transform: translate3d(0px, -214px, 0px);"><div class="js-slide py-1 slick-slide" data-slick-index="0" aria-hidden="true" style="width: 326px; height: auto;" tabindex="-1">
            <!-- Avatar -->
            <div class="card border-0 rounded-top-left-pill rounded-right-pill mb-1">
              <div class="card-body py-3 px-4">
                <div class="media align-items-center">
                  <div class="u-avatar mr-3">
                    <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h2 class="h6 mb-0">James Austin</h2>
                    <p class="small mb-0">Slack Inc.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Avatar -->

            <!-- Testimonials Content -->
            <div class="card border-0 bg-primary text-white rounded-bottom-left-pill rounded-right-pill">
              <div class="card-body p-4">
                <div class="media">
                  <!-- SVG Quote -->
                  <figure class="mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                          <path class="fill-warning" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
                        </svg>
                  </figure>
                  <!-- End SVG Quote -->
                  <div class="media-body">
                    <blockquote class="mb-0">The template is really nice and offers quite a large set of options. Thank you!</blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Testimonials Content -->
          </div><div class="js-slide py-1 slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" style="width: 326px; height: auto;" tabindex="0">
            <!-- Avatar -->
            <div class="card border-0 rounded-top-left-pill rounded-right-pill mb-1">
              <div class="card-body py-3 px-4">
                <div class="media align-items-center">
                  <div class="u-avatar mr-3">
                    <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                  </div>
                  <div class="media-body">
                    <h2 class="h6 mb-0">Charlotte Moore</h2>
                    <p class="small mb-0">Google Inc.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Avatar -->

            <!-- Testimonials Content -->
            <div class="card border-0 bg-primary text-white rounded-bottom-left-pill rounded-right-pill">
              <div class="card-body p-4">
                <div class="media">
                  <!-- SVG Quote -->
                  <figure class="mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                          <path class="fill-warning" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
                        </svg>
                  </figure>
                  <!-- End SVG Quote -->
                  <div class="media-body">
                    <blockquote class="mb-0">If you can design one thing you can design everything. Just believe it.</blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Testimonials Content -->
          </div></div></div>


        </div>
      </div>
      <!-- End Testimonials -->
    </div>
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Hero Section -->

<!-- News Carousel -->
<div class="bg-primary">
  <div class="container space-1">
    <div class="js-slick-carousel u-slick u-slick--gutters-3 slick-initialized slick-slider" data-slides-show="3" data-slides-scroll="1" data-autoplay="true" data-speed="5000" data-responsive="[{
               &quot;breakpoint&quot;: 992,
               &quot;settings&quot;: {
                 &quot;slidesToShow&quot;: 2
               }
             }, {
               &quot;breakpoint&quot;: 768,
               &quot;settings&quot;: {
                 &quot;slidesToShow&quot;: 1
               }
             }]">
      <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1900px; transform: translate3d(-760px, 0px, 0px);"><div class="js-slide slick-slide" data-slick-index="0" aria-hidden="true" style="width: 350px; height: auto;" tabindex="-1">
        <!-- News -->
        <div class="u-blog-thumb-minimal">
          <a class="media" href="../blog/single-article-classic.html" tabindex="-1">
                <span class="d-flex u-blog-thumb-minimal__img-wrapper mr-3">
                  <span class="u-blog-thumb-minimal__img-wrapper">
                    <img class="img-fluid u-blog-thumb-minimal__img" src="../../assets/img/380x360/img23.jpg" alt="Image Description">
                  </span>
                </span>
            <span class="media-body">
                  <span class="d-block h6 text-white mb-1">Interior photographs</span>
                  <small class="d-block text-white-70">It doesn't talk about the usual photography attractions.</small>
                </span>
          </a>
        </div>
        <!-- End News -->
      </div><div class="js-slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 350px; height: auto;" tabindex="-1">
        <!-- News -->
        <div class="u-blog-thumb-minimal">
          <a class="media" href="../blog/single-article-classic.html" tabindex="-1">
                <span class="d-flex u-blog-thumb-minimal__img-wrapper mr-3">
                  <span class="u-blog-thumb-minimal__img-wrapper">
                    <img class="img-fluid u-blog-thumb-minimal__img" src="../../assets/img/380x360/img9.jpg" alt="Image Description">
                  </span>
                </span>
            <span class="media-body">
                  <span class="d-block h6 text-white mb-1">My portfolio update</span>
                  <small class="d-block text-white-70">Portfolio offers a user a new way of experiencing design.</small>
                </span>
          </a>
        </div>
        <!-- End News -->
      </div><div class="js-slide slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0">
        <!-- News -->
        <div class="u-blog-thumb-minimal">
          <a class="media" href="../blog/single-article-classic.html" tabindex="0">
                <span class="d-flex u-blog-thumb-minimal__img-wrapper mr-3">
                  <span class="u-blog-thumb-minimal__img-wrapper">
                    <img class="img-fluid u-blog-thumb-minimal__img" src="../../assets/img/380x360/img8.jpg" alt="Image Description">
                  </span>
                </span>
            <span class="media-body">
                  <span class="d-block h6 text-white mb-1">The guide to Italian living</span>
                  <small class="d-block text-white-70">Learn how to live Italian and become happier</small>
                </span>
          </a>
        </div>
        <!-- End News -->
      </div><div class="js-slide slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0">
        <!-- News -->
        <div class="u-blog-thumb-minimal">
          <a class="media" href="../blog/single-article-classic.html" tabindex="0">
                <span class="d-flex u-blog-thumb-minimal__img-wrapper mr-3">
                  <span class="u-blog-thumb-minimal__img-wrapper">
                    <img class="img-fluid u-blog-thumb-minimal__img" src="../../assets/img/380x360/img10.jpg" alt="Image Description">
                  </span>
                </span>
            <span class="media-body">
                  <span class="d-block h6 text-white mb-0">19 design fails that prove fonts and spacing are everything</span>
                </span>
          </a>
        </div>
        <!-- End News -->
      </div><div class="js-slide slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 350px; height: auto;" tabindex="0">
        <!-- News -->
        <div class="u-blog-thumb-minimal">
          <a class="media" href="../blog/single-article-classic.html" tabindex="0">
                <span class="d-flex u-blog-thumb-minimal__img-wrapper mr-3">
                  <span class="u-blog-thumb-minimal__img-wrapper">
                    <img class="img-fluid u-blog-thumb-minimal__img" src="../../assets/img/380x360/img11.jpg" alt="Image Description">
                  </span>
                </span>
            <span class="media-body">
                  <span class="d-block h6 text-white mb-1">Warm spring is coming！</span>
                  <small class="d-block text-white-70">Australian trees 'sweat' to survive extreme heatwaves</small>
                </span>
          </a>
        </div>
        <!-- End News -->
      </div></div></div>








    </div>
  </div>
</div>
<!-- End News Carousel -->
<div class="container space-2 space-md-3">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-3">
    <span class="btn btn-xs btn-soft-success btn-pill mb-2">Why Front</span>
    <h2 class="text-primary">Built for <span class="font-weight-semi-bold">everyone</span></h2>
    <p>Our goal is to power innovation, wherever that may be.</p>
  </div>
  <!-- End Title -->

  <div class="row">
    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Process -->
      <div class="text-center">
        <div class="position-relative">
          <div id="SVGcircleProcess1" class="u-indicator-dots min-height-155 mb-2" style="">
            <!-- Icon -->
            <span class="text-success btn btn-lg btn-icon mt-7">
                  <span class="fab fa-yelp font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
                </span>
            <!-- End Icon -->

            <!-- SVG Shape -->
            <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess1">
<style type="text/css">
	.circle-process-1-0{fill:none;stroke:#00C9A7;}
  .circle-process-1-1{fill:#FFFFFF;}
  .circle-process-1-2{fill:#00C9A7;}
</style>
                <path class="circle-process-1-0 fill-none stroke-success" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
                <g>
	<path class="circle-process-1-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                  <path class="circle-process-1-2 fill-success" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4   c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
                <g opacity=".1">
	<circle class="circle-process-1-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                  <path class="circle-process-1-2 fill-success" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46   c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>

        <h3 class="h5">Professional Design</h3>
        <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
      </div>
      <!-- End Process -->
    </div>

    <div class="col-md-4 mb-7 mb-md-0">
      <!-- Process -->
      <div class="text-center">
        <div class="position-relative">
          <div id="SVGcircleProcess2" class="u-indicator-dots min-height-155 mb-2" style="">
            <!-- Icon -->
            <span class="text-primary btn btn-lg btn-icon mt-7">
                  <span class="fas fa-fire font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
                </span>
            <!-- End Icon -->

            <!-- SVG Shape -->
            <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess2">
<style type="text/css">
  .circle-process-2-0{fill:none;stroke:#377DFF;}
  .circle-process-2-1{fill:#FFFFFF;}
  .circle-process-2-2{fill:#377DFF;}
</style>
                <path class="circle-process-2-0 fill-none stroke-primary" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
                <g>
  <path class="circle-process-2-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                  <path class="circle-process-2-2 fill-primary" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4     c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
                <g opacity=".1">
  <circle class="circle-process-2-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                  <path class="circle-process-2-2 fill-primary" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46     c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>
            </figure>
            <!-- End SVG Shape -->
          </div>
        </div>

        <h3 class="h5">Front Strategy</h3>
        <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p>
        <!-- End Process -->
      </div>
    </div>

    <div class="col-md-4">
      <!-- Process -->
      <div class="text-center">
        <div id="SVGcircleProcess3" class="min-height-155 mb-2" style="">
          <!-- Icon -->
          <span class="text-danger btn btn-lg btn-icon mt-7">
                <span class="fab fa-whmcs font-size-5 btn-icon__inner btn-icon__inner-bottom-minus"></span>
              </span>
          <!-- End Icon -->

          <!-- SVG Shape -->
          <figure class="w-100 position-absolute top-0 right-0 left-0 z-index-n1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px" height="161px" viewBox="0 0 180 161.2" style="enable-background:new 0 0 180 161.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGcircleProcess3">
<style type="text/css">
  .circle-process-3-0{fill:none;stroke:#DE4437;}
  .circle-process-3-1{fill:#FFFFFF;}
  .circle-process-3-2{fill:#DE4437;}
</style>
              <path class="circle-process-3-0 fill-none stroke-danger" opacity=".1" stroke-width="2" stroke-miterlimit="10" d="M35.5,160.4C14.5,144.1,1,118.6,1,90C1,40.8,40.8,1,90,1s89,39.8,89,89c0,28.1-13,53.1-33.3,69.4"></path>
              <g>
  <path class="circle-process-3-1 fill-white" d="M5.8,64.1c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S7.5,64.1,5.8,64.1z"></path>
                <path class="circle-process-3-2 fill-danger" d="M5.8,59.2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S4.7,59.2,5.8,59.2 M5.8,57.2c-2.2,0-4,1.8-4,4     c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C9.8,58.9,8,57.2,5.8,57.2L5.8,57.2z"></path>
</g>
              <g opacity=".1">
  <circle class="circle-process-3-1 fill-white" cx="90.4" cy="89.6" r="28.6"></circle>
                <path class="circle-process-3-2 fill-danger" d="M90.4,76c7.5,0,13.6,6.1,13.6,13.6s-6.1,13.6-13.6,13.6s-13.6-6.1-13.6-13.6S82.9,76,90.4,76 M90.4,46     c-24.1,0-43.6,19.5-43.6,43.6s19.5,43.6,43.6,43.6S134,113.7,134,89.6S114.4,46,90.4,46L90.4,46z"></path>
</g>
</svg>
          </figure>
          <!-- End SVG Shape -->
        </div>

        <h3 class="h5">Unlimited Power</h3>
        <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
        <!-- End Process -->
      </div>
    </div>
  </div>
</div>


<div class="container space-2 space-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pr-lg-4">
            <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
              <span class="small font-weight-semi-bold btn-icon__inner">01.</span>
            </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Smart evaluation model</h2>
        <p class="mb-0">Sophisticated model providing analysis for the entire blockchain asset ecosystem. Strategic insights based on research, trends,and 50+ unique indicators to properly evaluate investment potential and risk.</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGmarketingStrategy" class="col-lg-7 ">
      <!-- SVG Icon -->
      <figure class="ie-marketing-strategy">
        <img class="js-svg-injector" src="../../assets/svg/illustrations/marketing-strategy.svg" alt="Image Description"
             data-parent="#SVGmarketingStrategy">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-1">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pl-lg-4">
            <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
              <span class="small font-weight-semi-bold btn-icon__inner">02.</span>
            </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Safe. Stable. Secure.</h2>
        <p class="mb-0">Advanced distributed system architecture built to protect against DDoS and other potential threats. More than 98% of digital assets stored in multi-signature,cold wallets. Security protocols are fully aligned and compliant with industry best practices.</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGappDevelopment" class="col-lg-7 order-lg-1 ">
      <!-- SVG Icon -->
      <figure class="ie-app-development">
        <img class="js-svg-injector" src="../../assets/svg/illustrations/app-development.svg" alt="SVG Illustration"
             data-parent="#SVGappDevelopment">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-2 space-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pr-lg-4">
            <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
              <span class="small font-weight-semi-bold btn-icon__inner">03.</span>
            </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Now, zero fees for everyone</h2>
        <p class="mb-0">Empowering millions of users, across 130+ countries. Over $1 Billion in assets. 24/7/365 customer access and support. A trusted world-class operation designed specifically for knowledgeable crypto-investors.</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGbusinessAnalysis" class="col-lg-7 ">
      <!-- SVG Icon -->
      <figure class="ie-business-analysis">
        <img class="js-svg-injector" src="../../assets/svg/illustrations/business-analysis.svg" alt="SVG Illustration"
             data-parent="#SVGbusinessAnalysis">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->


