<main id="content" role="main">
  <div id="SVGheroSection" class="d-lg-flex position-relative border-bottom z-index-2" style="">
    <div class="container d-lg-flex align-items-lg-center flex-lg-wrap height-lg-100vh text-center space-top-2 space-top-md-4 space-top-lg-3">
      <div class="w-100 mx-auto mb-9 mb-lg-0">
        <div class="mb-5">
          <h1 class="display-4 font-size-md-down-5 font-weight-semi-bold">Build a better business</h1>
          <p>Front is the leading online template helping <strong class="text-primary">1000+</strong> customers.</p>
        </div>

        <!-- Form -->
        <form class="js-validate w-md-75 w-lg-50 w-xl-40 mx-md-auto mb-4" novalidate="novalidate">
          <div class="js-form-message u-has-success">
            <label class="sr-only" for="signupSrEmail">Your email</label>
            <div class="input-group">
              <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Enter your email" aria-label="Enter your email" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success" aria-invalid="false">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-wide">Get Started</button>
              </div>
            </div>
          </div>
        </form>
        <!-- End Form -->

        <div class="small">
          <span class="font-weight-medium">View a demo:</span>
          <a class="link-muted mx-2" href="index.html">Explore live demo</a>

          <!-- Fancybox -->
          <a class="js-fancybox link-muted" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
            <small class="fas fa-play text-primary mr-1"></small>
            Play video
          </a>
          <!-- End Fancybox -->
        </div>
      </div>

      <div class=" mt-auto mx-lg-auto">
        <!-- SVG Icon -->
      <img height="400" src="/gidan-glass.svg"/>
        <!-- End SVG Icon -->
      </div>
    </div>

    <!-- SVG Component -->
    <div class="d-none d-lg-block content-centered-y left-0 w-100 max-width-40 z-index-n1">
      <figure class="ie-abstract-shapes-1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 483.8 706.6" style="enable-background:new 0 0 483.8 706.6;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGheroSection">
<style type="text/css">
  .abstract-shapes-1-0{fill:#00DFFC;}
  .abstract-shapes-1-1{fill:#FFFFFF;}
  .abstract-shapes-1-2{fill:#FFC107;}
  .abstract-shapes-1-3{fill:none;stroke:#FFFFFF;}
  .abstract-shapes-1-4{fill:none;stroke:#377DFF;}
  .abstract-shapes-1-5{fill:none;stroke:#00C9A7;}
</style>
          <g>
  <defs>
    <rect id="abstractShapes1ID1" width="483.8" height="706.6"></rect>
  </defs>
            <clipPath id="abstractShapes1ID2">
    <use xlink:href="#abstractShapes1ID1" style="overflow:visible;"></use>
  </clipPath>
            <path class="abstract-shapes-1-0 fill-info" clip-path="url(#abstractShapes1ID2)" d="M-153.8,381.4c29.5-3.9,58.5-7.9,82.9-27.9c17.7-14.4,29.8-35.1,34.1-57.5c5.6-29.4-3.4-64.4,15.2-90.2     c10-13.8,25.8-21.8,42.9-21.7c44.3,0.4,61.3,41.3,67.3,79.1c7.1,44.4,5.2,93,45.4,122.6c23.8,17.5,60.1,21.9,77.9,47.6     c26.1,37.6-18.6,74.7-48.2,91.9c-26.8,15.5-53.5,29.6-82.8,39.9c-15.2,5.4-31.6,8.8-47.5,5.9c-39-7.1-38.9-47.7-58.5-74.4     c-10.4-14.2-25.3-23.6-42.4-27.7c-31-7.6-63.8-3-95.2-0.6c-30,2.3-70.1-16.7-59.5-53.5c4.8-16.8,20.8-25.3,36.9-28.6     C-174.9,384.2-164.3,382.8-153.8,381.4z"></path>

            <linearGradient id="abstractShapes1ID3" gradientUnits="userSpaceOnUse" x1="166.0509" y1="-593.6631" x2="706.6104" y2="-875.1939" gradientTransform="matrix(0.6089 0.7932 0.7932 -0.6089 422.088 -427.4973)">
    <stop class="stop-color-indigo" offset="0" style="stop-color:#2D1582"></stop>
              <stop class="stop-color-primary" offset="1" style="stop-color:#377DFF"></stop>
  </linearGradient>
            <path fill="url(#abstractShapes1ID3)" clip-path="url(#abstractShapes1ID2)" d="M375.8,455.9c-14.7-73.5-31.3-154.9-83.3-212.2C227.2,171.7,130.6,110,38.1,80.5c-47-15-86,2.5-110.9,44.3     c-16,27-22.7,58.9-40.6,84.6c-15.9,22.8-39.2,42.2-46.9,69.9c-8.5,30.5,9.6,62.6,30.7,83.4c17.8,17.6,39.5,29.4,64.9,30.3     c8.4,0.3,17.5-0.9,27-2.6c42-7.5,90.3-24.9,102.6,33.2c5,23.8-6.2,42.3-17.3,62.5C33.9,510.8,25.3,542,32.8,570     c7.5,28.2,36.2,56.4,66.7,40.8c35.1-18,43.6-64.2,82.1-79.3c24.1-9.4,45.7,1.1,63,18.9c11,11.4,19.3,25.2,26.5,39.4     c16.5,32.6,49.9,60.7,86.9,35.6C411.3,589.4,386,506.5,375.8,455.9z"></path>
            <g clip-path="url(#abstractShapes1ID2)">
    <circle class="abstract-shapes-1-0 fill-info" cx="157.6" cy="319.2" r="2.8"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="169.3" cy="334.9" r="3.5"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="146" cy="360.9" r="1.7"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="172.2" cy="299.6" r="1.8"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="148.9" cy="297.9" r="2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="137.5" cy="279.7" r="4.3"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="184.8" cy="319.2" r="2.1"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="161.8" cy="350.8" r="1.4"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="103.9" cy="319.2" r="4.4"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="133.8" cy="307.6" r="2.3"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="123.2" cy="346.7" r="3.2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="101.9" cy="275.5" r="5.2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="125.4" cy="259.7" r="2.2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="153.2" cy="273.5" r="2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="179.6" cy="275.5" r="4"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="184.8" cy="297.9" r="2.6"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="103.9" cy="301.5" r="2"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="199.6" cy="328.7" r="3.6"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="141.7" cy="331.8" r="3.1"></circle>
              <circle class="abstract-shapes-1-0 fill-info" cx="193.7" cy="356.5" r="4.3"></circle>
  </g>
            <path class="abstract-shapes-1-0 fill-info" clip-path="url(#abstractShapes1ID2)" d="M77.6,96.2c6.4,18,14.6,44.8,7,62.5c-5.8,13.7-16.8,33.9-30.5,31.1c-11.6-14.9-35.1-46-50.3-58.2     c-12.5-10.1-31.7-20.4-43.9-31.4c-30.2-27.1-41.8-64.1-58.6-101C-68.2,2.3-38,8-8.1,16.3c19.2,5.5,39,12.5,53.7,25.9     C61.7,56.3,70.9,76.1,77.6,96.2z"></path>
            <g clip-path="url(#abstractShapes1ID2)">
    <g>
      <path class="abstract-shapes-1-1 fill-white" d="M-96.9,1c35.5,16.9,68.3,39,96.3,66.2c30.4,30,50.7,65.2,73.5,100.4c0.3,1,2.4,0,1.4-1         C35.3,93.8-19.5,32.4-96.8,0C-96.9,0-97.6,0.3-96.9,1L-96.9,1z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M-76.2,47.2c24.5-1.4,45.9-0.3,67.3,13.1c1.4,1,2.8-1.4,1.4-2.4c-19-12.4-46.6-20-69-12.4         C-77.2,46.2-77.2,47.2-76.2,47.2L-76.2,47.2z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M-37.9,88c11.7,0,23.1-0.3,34.5,2.4c10.4,2.4,20.4,6.2,30.7,10c1.4,0.3,1.7-1.4,0.3-2.4         C6.9,90.4-16.6,81.4-38.6,87C-38.2,87.6-38.2,88-37.9,88L-37.9,88z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M7.7,124.2c7.9,0.3,16.6,1.4,24.5,2.8c9.3,1.7,15.5,6.6,21.7,13.8c1,1,2.8-0.3,1.7-1.7         c-5.5-6.6-11.4-11.4-20.4-13.8c-9-1.7-18.6-2.4-27.9-1.7C7.3,123.1,7.3,124.2,7.7,124.2L7.7,124.2z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M-25.8,19c0.3,9,5.2,17.9,8.6,26.2c2.4,5.2,4.1,14.1,11,15.2c0.3,0,1-0.3,0.3-1         C-17.3,50.1-17.6,31.5-25.2,19C-25.1,18.3-25.8,18.3-25.8,19L-25.8,19z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M11.1,29.6c2.4,24.5,10,48.6,18.6,71.4c0.3,1,2.4,0.3,1.7-0.3c-9-23.1-13.8-46.9-19.3-71.1         C11.8,29.3,11.1,29.3,11.1,29.6L11.1,29.6z"></path>
    </g>
              <g>
      <path class="abstract-shapes-1-1 fill-white" d="M50.8,81.4c0,20.7,5.2,42.1,8.6,62.4c0.3,1.4,2.8,1,2.4-0.3c-3.8-20.7-6.6-41.1-10-62.1         C51.8,80.4,50.8,80.4,50.8,81.4L50.8,81.4z"></path>
    </g>
  </g>
            <g clip-path="url(#abstractShapes1ID2)">
    <g>
      <path id="abstractShapes1_4" class="abstract-shapes-1-2 fill-warning" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2         c-12.4,38-35.7,59.4-59.8,71.4c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29         c-14.5,9.9-22.6,26.9-16.9,44.2c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3         c54.1-31.4,68.7-75,68.4-113.4C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID4" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID5">
        <use xlink:href="#abstractShapes1ID4" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID5)" stroke-miterlimit="10" d="M107.3,410c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID6" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID7">
        <use xlink:href="#abstractShapes1ID6" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID7)" stroke-miterlimit="10" d="M151.4,418.8c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID8" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID9">
        <use xlink:href="#abstractShapes1ID8" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID9)" stroke-miterlimit="10" d="M204.4,429.2c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID10" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID11">
        <use xlink:href="#abstractShapes1ID10" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID11)" stroke-miterlimit="10" d="M248.5,437.9c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID12" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID13">
        <use xlink:href="#abstractShapes1ID12" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID10)" stroke-miterlimit="10" d="M292.7,446.6c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
              <g>
      <defs>
        <path id="abstractShapes1ID14" d="M483.8,243.1c-21.9-2.8-40.7,0.9-56.3,7.4c-5.7-34.6-20.5-60.2-20.5-60.2c-12.4,38-35.7,59.4-59.8,71.4           c21.5-24.2,9.9-64.9,9.9-64.9c-14,71.1-90.4,78.8-90.5,78.8c-34.3,3.4-67.8,9.2-96.6,29c-14.5,9.9-22.6,26.9-16.9,44.2           c5,15.1,15.6,28.9,23.8,42.4c10.1,16.7,26.7,28.5,45.8,32.4c28.3,5.7,73.9,3.2,138.5-34.3c54.1-31.4,68.7-75,68.4-113.4           C445.3,248.4,483.8,243.1,483.8,243.1z"></path>
      </defs>
                <clipPath id="abstractShapes1ID15">
        <use xlink:href="#abstractShapes1ID14" style="overflow:visible;"></use>
      </clipPath>
                <path class="abstract-shapes-1-3 fill-none stroke-white" opacity=".6" clip-path="url(#abstractShapes1ID15)" stroke-miterlimit="10" d="M336.8,455.3c0,0,90.5-103.4,106.4-249.6"></path>
    </g>
  </g>
            <circle class="abstract-shapes-1-4 fill-none stroke-primary" clip-path="url(#abstractShapes1ID2)" stroke-width="3" stroke-miterlimit="10" cx="200.5" cy="692.2" r="14.4"></circle>
            <circle class="abstract-shapes-1-4 fill-none stroke-primary" clip-path="url(#abstractShapes1ID2)" stroke-width="2" stroke-miterlimit="10" cx="209.5" cy="654.4" r="5.4"></circle>
            <path class="abstract-shapes-1-5 fill-none stroke-info" clip-path="url(#abstractShapes1ID2)" stroke-width="4" stroke-miterlimit="10" d="M192.2,36.1c-0.1-1.9-1-3.6-2.5-4.7c-2.3-1.7-6.1-2.2-11.4,5.5c-8.4,12.2-0.5,11.7,0.6,11.6     c0.1,0,0.2,0,0.3,0l7.3-0.5c3.5-0.2,6.2-3.3,6-6.8L192.2,36.1z"></path>
            <circle class="abstract-shapes-1-5 fill-none stroke-info" clip-path="url(#abstractShapes1ID2)" stroke-width="4" stroke-miterlimit="10" cx="294.2" cy="144.7" r="7"></circle>
</g>
</svg>
      </figure>
    </div>
    <!-- End SVG Component -->

    <!-- SVG Component -->
    <div class="d-none d-lg-block content-centered-y right-0 w-100 max-width-35 z-index-n1">
      <figure class="ie-abstract-shapes-10">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 396.9 838.3" style="enable-background:new 0 0 396.9 838.3;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGheroSection">
<style type="text/css">
	.abstract-shapes-10-0{fill:#FFFFFF;}
  .abstract-shapes-10-1{fill:none;stroke:#377DFF;}
  .abstract-shapes-10-2{fill:#00DFFC;}
  .abstract-shapes-10-3{fill:#FFC107;}
  .abstract-shapes-10-4{fill:none;stroke:#00C9A7;}
</style>
          <g>
	<defs>
		<rect id="abstractShapes10ID1" width="396.9" height="838.3"></rect>
	</defs>
            <clipPath id="abstractShapes10ID2">
		<use xlink:href="#abstractShapes10ID1" style="overflow:visible;"></use>
	</clipPath>
            <g clip-path="url(#abstractShapes10ID2)">
		<path class="abstract-shapes-10-1 fill-none stroke-primary" stroke-width="2.5" stroke-miterlimit="10" d="M117,632.3c0,0,37.5,36.9,69.2,81.5s158,124.5,158,124.5"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M193.9,719.7l-47.6,17.7C189.3,773.2,193.9,719.8,193.9,719.7z"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M191.6,720.7l22.5-46.1C247.3,717.2,191.6,720.6,191.6,720.7z"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M165.4,686.4l-43.8,13.9C143,733.1,165.4,686.4,165.4,686.4z"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M164.7,685.5l18.3-31.9C204.3,684,164.7,685.5,164.7,685.5z"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M118.7,683.9c-14,5.4-27.1-14.6-23.1-18.9s42-11.2,42-11.2S132.7,678.5,118.7,683.9z"></path>
              <path class="abstract-shapes-10-2 fill-info" d="M164.9,640.7c-1.9,21.1-25.9,18.1-27.2,12.8c-1.3-5.3,10.5-35.8,10.5-35.8S166.8,619.6,164.9,640.7z"></path>
              <ellipse class="abstract-shapes-10-3 fill-warning" cx="112.3" cy="641.3" rx="10.8" ry="10.8"></ellipse>
              <ellipse class="abstract-shapes-10-3 fill-warning" cx="127.4" cy="628.1" rx="10.8" ry="10.8"></ellipse>
	</g>
            <path class="abstract-shapes-10-2 fill-info" clip-path="url(#abstractShapes10ID2)" d="M303.7,109.2c7.3,20.4,16.6,50.8,8,70.9c-6.6,15.6-19,38.4-34.6,35.3c-13.1-16.9-39.8-52.2-57-66   c-14.2-11.4-36-23.2-49.8-35.6C136.1,83,122.9,41.2,103.9-0.6c34.6,3.5,68.8,10,102.7,19.4c21.8,6.2,44.3,14.2,60.8,29.4   C285.7,63.9,296.1,86.4,303.7,109.2z"></path>
            <g clip-path="url(#abstractShapes10ID2)">
		<g>
			<path class="abstract-shapes-10-0 fill-white" d="M106,1.2c40.3,19.2,77.4,44.2,109.1,75.1c34.4,34,57.5,73.9,83.3,113.8c0.4,1.2,2.7,0,1.6-1.2     C255.8,106.4,193.6,36.8,106,0C106,0.1,105.2,0.5,106,1.2L106,1.2z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M129.4,53.7c27.8-1.6,52-0.4,76.3,14.9c1.6,1.2,3.1-1.6,1.6-2.7c-21.5-14.1-52.8-22.7-78.2-14.1     C128.3,52.5,128.3,53.7,129.4,53.7L129.4,53.7z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M172.8,99.8c13.3,0,26.2-0.4,39.1,2.7c11.7,2.7,23.1,7,34.8,11.3c1.6,0.4,2-1.6,0.4-2.7     c-23.5-8.6-50.1-18.8-75.1-12.5C172.5,99.4,172.5,99.8,172.8,99.8L172.8,99.8z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M224.5,140.9c9,0.4,18.8,1.6,27.8,3.1c10.6,2,17.6,7.4,24.6,15.6c1.2,1.2,3.1-0.4,2-2     c-6.3-7.4-12.9-12.9-23.1-15.6c-10.2-2-21.1-2.7-31.7-2C224.1,139.7,224.1,140.9,224.5,140.9L224.5,140.9z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M186.5,21.6c0.4,10.2,5.9,20.3,9.8,29.7c2.7,5.9,4.7,16,12.5,17.2c0.4,0,1.2-0.4,0.4-1.2     c-12.9-10.6-13.3-31.7-21.9-45.8C187.3,20.8,186.5,20.8,186.5,21.6L186.5,21.6z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M228.4,33.7c2.7,27.8,11.3,55.1,21.1,81c0.4,1.2,2.7,0.4,2-0.4c-10.2-26.2-15.6-53.2-21.9-80.6     C229.2,33.3,228.4,33.3,228.4,33.7L228.4,33.7z"></path>
		</g>
              <g>
			<path class="abstract-shapes-10-0 fill-white" d="M273.4,92.4c0,23.5,5.9,47.7,9.8,70.8c0.4,1.6,3.1,1.2,2.7-0.4c-4.3-23.5-7.4-46.5-11.3-70.4     C274.5,91.2,273.4,91.2,273.4,92.4L273.4,92.4z"></path>
		</g>
	</g>
            <path class="abstract-shapes-10-3 fill-warning" clip-path="url(#abstractShapes10ID2)" d="M423.5,377.8c-33.4-4.4-66.3-9-94-31.6c-20-16.3-33.8-39.8-38.6-65.1c-6.4-33.3,3.8-73-17.3-102.3   c-11.3-15.7-29.2-24.8-48.6-24.6c-50.2,0.5-69.4,46.8-76.3,89.6c-8,50.3-5.9,105.4-51.5,138.9c-26.9,19.8-68.1,24.9-88.3,54   c-29.5,42.7,21.1,84.7,54.7,104.1c30.4,17.6,60.7,33.5,93.9,45.2c17.3,6.1,35.9,9.9,53.9,6.7c44.3-8.1,44.1-54.1,66.3-84.3   c11.8-16.1,28.7-26.7,48-31.4c35.2-8.6,72.4-3.4,107.9-0.7c34,2.6,79.4-19,67.5-60.6c-5.5-19.1-23.6-28.7-41.9-32.4   C447.4,381,435.4,379.4,423.5,377.8z"></path>

            <linearGradient id="abstractShapes10ID3" gradientUnits="userSpaceOnUse" x1="2651.5042" y1="2195.7756" x2="3058.9182" y2="2195.7756" gradientTransform="matrix(-0.7976 0.6032 -0.6032 -0.7976 3885.3567 396.9629)">
		<stop class="stop-color-primary" offset="2.474398e-07" style="stop-color:#377DFF"></stop>
              <stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
	</linearGradient>
            <path fill="url(#abstractShapes10ID3)" clip-path="url(#abstractShapes10ID2)" d="M282.7,177.9c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6   s5.1,77-71.6,107.4c-76.8,30.4-120.3,93.2-214.1-12.1C107.3,411.7,42.8,449.7,59.1,368c3-15.2,4.9-30.7,4.9-46.2   c0.1-25.7,12.8-71.2,95.6-89.1C213.7,221.1,254.4,198.7,282.7,177.9z"></path>

            <linearGradient id="abstractShapes10ID4" gradientUnits="userSpaceOnUse" x1="2651.5042" y1="2195.7756" x2="3058.9182" y2="2195.7756" gradientTransform="matrix(-0.7976 0.6032 -0.6032 -0.7976 3885.3567 396.9629)">
		<stop class="stop-color-primary" offset="2.474398e-07" style="stop-color:#377DFF"></stop>
              <stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
	</linearGradient>
            <path fill="url(#abstractShapes10ID4)" clip-path="url(#abstractShapes10ID2)" d="M282.7,177.9c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6   s5.1,77-71.6,107.4c-76.8,30.4-120.3,93.2-214.1-12.1C107.3,411.7,42.8,449.7,59.1,368c3-15.2,4.9-30.7,4.9-46.2   c0.1-25.7,12.8-71.2,95.6-89.1C213.7,221.1,254.4,198.7,282.7,177.9z"></path>
            <g clip-path="url(#abstractShapes10ID2)">
		<circle class="abstract-shapes-10-2 fill-info" cx="236" cy="372.3" r="2.8"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="247.7" cy="388" r="3.5"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="224.4" cy="414" r="1.7"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="250.7" cy="352.7" r="1.8"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="227.4" cy="350.9" r="2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="215.9" cy="332.8" r="4.3"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="263.2" cy="372.3" r="2.1"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="240.3" cy="403.9" r="1.4"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="182.3" cy="372.3" r="4.4"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="212.2" cy="360.7" r="2.3"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="201.6" cy="399.8" r="3.2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="180.3" cy="328.6" r="5.2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="203.8" cy="312.8" r="2.2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="231.6" cy="326.6" r="2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="258" cy="328.6" r="4"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="263.2" cy="350.9" r="2.6"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="182.3" cy="354.6" r="2"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="278" cy="381.8" r="3.6"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="220.2" cy="384.9" r="3.1"></circle>
              <circle class="abstract-shapes-10-2 fill-info" cx="272.1" cy="409.6" r="4.3"></circle>
	</g>
            <path class="abstract-shapes-10-4 fill-none stroke-info" stroke-width="4" stroke-miterlimit="10" clip-path="url(#abstractShapes10ID2)" d="M396.6,47.6c-0.1-1.9-1-3.6-2.5-4.7c-2.3-1.7-6.1-2.2-11.4,5.5c-8.4,12.2-0.5,11.7,0.6,11.6c0.1,0,0.2,0,0.3,0   l7.3-0.5c3.5-0.2,6.2-3.3,6-6.8L396.6,47.6z"></path>
</g>
</svg>
      </figure>
    </div>
    <!-- End SVG Component -->
  </div>

  <!-- Blog Card Section -->
  <div class="container space-2 space-bottom-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img18.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Product</a>
            <h2 class="h5 font-weight-medium">
              <a href="single-article.html">InVision design forward fund</a>
            </h2>
            <p>Clark Valberg is the founder and CEO of InVision.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Nataly Gaga">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
              </div>
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img13.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">What CFR (Conversations, Feedback, Recognition) really is about</a>
            </h3>
            <p>For a lot of people these days, Measure What Matters.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Aaron Larsson">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img19.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a>
            </h3>
            <p>There are many reasons people choose to join Front for Business.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
              </div>
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="" data-original-title="John O'nolan">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img24.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">Front accounts - let's work together</a>
            </h3>
            <p>Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
              </div>
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="" data-original-title="John O'nolan">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img25.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Community</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">Do millennials care about saving?</a>
            </h3>
            <p>Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Nataly Gaga">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img17.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Community</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">Let's revolutionise global payments. Together</a>
            </h3>
            <p>Front is changing the way money moves around the world.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Aaron Larsson">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              </div>
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hanna Wolfe">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img26.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Front insider</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">Should Product Owners think like entrepreneurs?</a>
            </h3>
            <p>Front is a financial technology company. We build products. We do it fast and we do it well..</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="" data-original-title="John O'nolan">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <!-- Blog Card -->
        <article class="card shadow h-100">
          <img class="card-img-top" src="../../assets/img/500x280/img21.jpg" alt="Image Description">
          <div class="card-body p-5">
            <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Front academy</a>
            <h3 class="h5 font-weight-medium">
              <a href="single-article.html">What is KYC and why do we need it</a>
            </h3>
            <p>You've read about our app, it came up on your news feed and your mate sent you an invite to sign up.</p>
          </div>

          <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
            <div class="media align-items-center">
              <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emily Milda">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              </div>
              <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                July 15
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>
    </div>

    <div class="space-bottom-2"></div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination mb-0">
        <li class="page-item mr-auto">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="d-none d-sm-inline-block ml-1">Prev</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item ml-auto">
          <a class="page-link" href="#" aria-label="Next">
            <span class="d-none d-sm-inline-block mr-1">Next</span>
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Pagination -->
  </div>
  <!-- End Blog Card Section -->

</main>
