<header id="header"
        class="u-header u-header-center-aligned-nav u-header--bg-transparent 1"
         [ngClass]="{'u-header--white-nav-links-md u-header--abs-top ':isFullScreen}"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav"  style="height: 7rem"  class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <div class="u-header-center-aligned-nav__col">
          <!-- Logo -->
          <a class="" routerLink="." aria-label="Front">
            <img class="pt-2" src="/logo-sm.svg" height="150"/>
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
              <span id="hamburgerTrigger" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Home -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-position="left">
              <a routerLink="home" id="homeMegaMenu" class="nav-link u-header__nav-link "
                aria-haspopup="true" aria-expanded="false">Home</a>

            </li>
            <!-- End Home -->
            <!-- Shop -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-max-width="440px"
                data-position="right">
              <a routerLink="services" id="shopMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle"
                 aria-haspopup="true" aria-expanded="false">Services</a>

              <!-- Shop - Mega Menu -->
              <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-position-right-fix--md"
                   aria-labelledby="shopMegaMenu">
                <div class="u-header__mega-menu-wrapper">
                  <span class="u-header__sub-menu-title">Shop Elements</span>

                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="u-header__sub-menu-nav-group">
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/classic.html">Classic</a>
                        </li>
                        <li><a class="nav-link u-header__sub-menu-nav-link"
                               href="../shop/categories.html">Categories</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/categories-sidebar.html">Categories
                          Sidebar</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/products-grid.html">Products
                          Grid</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/products-list.html">Products
                          List</a></li>
                      </ul>
                    </div>

                    <div class="col-sm-6">
                      <ul class="u-header__sub-menu-nav-group">
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/single-product.html">Single
                          Product</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/empty-cart.html">Empty
                          Cart</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/cart.html">Cart</a></li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/checkout.html">Checkout</a>
                        </li>
                        <li><a class="nav-link u-header__sub-menu-nav-link" href="../shop/order-completed.html">Order
                          Completed</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Mega Menu Banner -->
                <div class="u-header__product-banner">
                  <div class="d-flex align-items-end">
                    <img class="img-fluid mr-4" src="../../assets/img/mockups/img4.png" alt="Image Description">
                    <div class="u-header__product-banner-content">
                      <div class="mb-4">
                        <span class="u-header__product-banner-title">Win T-shirt</span>
                        <p class="u-header__product-banner-text">Win one of our Front brand T-shirts.</p>
                      </div>
                      <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="../shop/classic.html">Learn
                        More <span class="fas fa-angle-right ml-2"></span></a>
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu Banner -->
              </div>
              <!-- End Shop - Mega Menu -->
            </li>
            <!-- End Shop -->

            <!-- Blog -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut">
              <a routerLink="courses" id="blogMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle"
                  aria-haspopup="true" aria-expanded="false"
                 aria-labelledby="blogSubMenu">Courses</a>

              <!-- Blog - Submenu -->
              <ul id="blogSubMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer"
                  aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                <li><a class="nav-link u-header__sub-menu-nav-link" href="../blog/card-style.html">Card Style</a></li>
                <li><a class="nav-link u-header__sub-menu-nav-link" href="../blog/listing.html">Listing</a></li>
                <li><a class="nav-link u-header__sub-menu-nav-link" href="../blog/blog-profile.html">Blog Profile</a>
                </li>
                <li><a class="nav-link u-header__sub-menu-nav-link" href="../blog/single-article.html">Single
                  Article</a></li>
              </ul>
              <!-- End Submenu -->
            </li>



            <!-- Demos -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-max-width="900px"
                data-position="right">
              <a routerLink="certificate-verification" id="demosMegaMenu"
                 class="nav-link u-header__nav-link "
                 aria-haspopup="true" aria-expanded="false">Certificate verification</a>


            </li>
            <!-- End Demos -->


            <!-- Docs -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-max-width="260px"
                data-position="right">
              <a routerLink="showcase" id="docsMegaMenu" class="nav-link u-header__nav-link "
                aria-haspopup="true" aria-expanded="false">Showcase</a>


            </li>
            <!-- End Docs -->
          </ul>
        </div>
        <!-- End Navigation -->

        <!-- Last Item -->
        <div class="u-header-center-aligned-nav__col u-header-center-aligned-nav__col-last-item">
          <a class="btn btn-sm btn-primary transition-3d-hover"
             routerLink="/" >
            Contact Us
          </a>
        </div>
        <!-- End Last Item -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>

