<div id="SVGGraphicIllustration1" class="d-lg-flex align-items-lg-center gradient-half-primary-v1 height-lg-100vh" style="">
  <div class="d-none d-lg-block bg-img-hero position-absolute top-0 right-0 left-0 height-lg-100vh" style="background-image: url(../../assets/img/bg-shapes/bg1.png);"></div>
  <div class="container space-top-3 space-bottom-2 space-top-md-4 space-bottom-md-3">
    <div class="row align-items-md-center">
      <div class="col-lg-6">
        <!-- Title -->
        <div class="mb-7">
          <h1 class="text-white font-weight-normal">
            We help<br>
            <span class="text-warning">
                  <span class="u-text-animation u-text-animation--typing">building brands.</span><span class="typed-cursor typed-cursor--blink">|</span>
                </span>
          </h1>
          <p class="lead text-white-70">Building brands people can't live without is how our clients grow.</p>
        </div>
        <!-- End Title -->

        <a class="btn btn-white btn-wide text-primary transition-3d-hover" href="../pages/hire-us.html">Hire Us</a>
      </div>

      <div class="col-lg-6 d-none d-lg-inline-block">
        <!-- SVG Shapes -->
        <figure class="ie-graphic-illustration-1">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 270 135.5" style="enable-background:new 0 0 270 135.5;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
                     {&quot;targetId&quot;: &quot;#SVGgraphicIllustration1Img1&quot;, &quot;newPath&quot;: &quot;../../assets/img/100x100/img1.jpg&quot;},
                     {&quot;targetId&quot;: &quot;#SVGgraphicIllustration1Img2&quot;, &quot;newPath&quot;: &quot;../../assets/img/100x100/img2.jpg&quot;},
                     {&quot;targetId&quot;: &quot;#SVGgraphicIllustration1Img3&quot;, &quot;newPath&quot;: &quot;../../assets/img/160x160/img14.png&quot;},
                     {&quot;targetId&quot;: &quot;#SVGgraphicIllustration1Img4&quot;, &quot;newPath&quot;: &quot;../../assets/img/160x160/img18.png&quot;},
                     {&quot;targetId&quot;: &quot;#SVGgraphicIllustration1Img5&quot;, &quot;newPath&quot;: &quot;../../assets/img/160x160/img13.png&quot;}
                   ]" data-parent="#SVGGraphicIllustration1">
<style type="text/css">
	.graphic-illustration-0{fill:none;}
  .graphic-illustration-1{fill:#FFC107;}
  .graphic-illustration-2{fill:#FFFFFF;}
</style>
            <linearGradient id="SVGgraphicIllustration1ID1" gradientUnits="userSpaceOnUse" x1="104.849" y1="61.8361" x2="265" y2="61.8361">
	<stop class="stop-color-white" offset="5.908129e-07" style="stop-color:#FFFFFF;stop-opacity:0"></stop>
              <stop class="stop-color-warning" offset="1" style="stop-color:#FFC107"></stop>
</linearGradient>
            <path class="graphic-illustration-0 fill-none" stroke="url(#SVGgraphicIllustration1ID1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" opacity=".16" d="M263.5,38c0,0-30.9,1-47.9,26S173,91,150.7,77s-25.9-17.9-44.3-12"></path>
            <linearGradient id="SVGgraphicIllustration1ID2" gradientUnits="userSpaceOnUse" x1="24.5" y1="66.5176" x2="270" y2="66.5176">
	<stop class="stop-color-white" offset="5.908129e-07" style="stop-color:#FFFFFF;stop-opacity:0"></stop>
              <stop class="stop-color-danger" offset="1" style="stop-color:#DE4437"></stop>
</linearGradient>
            <path class="graphic-illustration-0 fill-none" stroke="url(#SVGgraphicIllustration1ID2)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M26,128c10.1,2.1,20.6-1.1,30.5-3c8.7-1.7,17.6-2.5,26.5-3c11.6-0.6,23.2-0.1,34,4.5c0.3,0.1,0.6,0.3,0.9,0.4  c7.9,3.1,17.1,2.2,24.2-2.5c5.3-3.5,9.4-8.5,15.3-11.1c5.2-2.3,11-3,16.6-3.3c8.8-0.5,16.4,1.5,23,7.5c4.8,4.3,9,9.7,15.1,12.3  c5.7,2.4,12.2,2.2,17.9,0.2c3.9-1.4,7.2-4,9.9-7.2c10.8-12.9,12.7-33,13.8-49.1c0.7-9.9,1.3-19.9,0.3-29.8c-0.6-5.6-1-10.8,0-16.4  c1.8-10,7.1-19,14.4-26"></path>
            <linearGradient id="SVGgraphicIllustration1ID7" gradientUnits="userSpaceOnUse" x1="0" y1="83.4264" x2="265.5" y2="83.4264">
	<stop class="stop-color-white" offset="3.954259e-07" style="stop-color:#FFFFFF;stop-opacity:0"></stop>
              <stop class="stop-color-warning" offset="1" style="stop-color:#FFC107"></stop>
</linearGradient>
            <path id="SVGgraphicIllustration1ID8" class="graphic-illustration-0 fill-none" stroke="url(#SVGgraphicIllustration1ID7)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M1.5,134c21.8-0.7,44.8-4.5,63.9-18.3c10.7-7.8,18.2-18.2,24.9-30.9c6.5-12.4,15.5-23,28-24.6  c18.8-2.5,33.5,15.5,51.9,16.8c1.9,0.1,3.7,0.1,5.6-0.1c5.2-0.5,10.1-2.3,14.4-5.3c4.1-2.8,7.3-6.9,10.1-11  c6.3-9.1,14.6-16.9,24.5-21.8c7.4-3.6,15.5-5.8,23.7-6.1c5.2-0.2,10.4,0.6,15.5,1.1"></path>
            <g>
	<path class="graphic-illustration-1 fill-warning" opacity=".1" d="M236,83.8L236,83.8c-7.7,0-14-6.3-14-14v0c0-7.7,6.3-14,14-14h0c7.7,0,14,6.3,14,14v0   C250,77.5,243.7,83.8,236,83.8z"></path>
              <!-- Apply your (160px width to 160px height) image here -->
              <image id="SVGgraphicIllustration1Img3" style="overflow:visible;" width="160" height="160" xlink:href="../../assets/img/160x160/img14.png" transform="matrix(0.1187 0 0 0.1187 226.5 60.25)"></image>
</g>
            <g>
	<path class="graphic-illustration-2 fill-white" d="M11,127.5L11,127.5c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h0c4.7,0,8.5,3.8,8.5,8.5v0   C19.5,123.7,15.7,127.5,11,127.5z"></path>
              <!-- Apply your (160px width to 160px height) image here -->
              <image id="SVGgraphicIllustration1Img5" style="overflow:visible;" width="160" height="160" xlink:href="../../assets/img/160x160/img13.png" transform="matrix(5.625000e-02 0 0 5.625000e-02 6.5 114.5)"></image>
</g>
            <g>
	<defs>
		<path id="SVGgraphicIllustration1ID3" d="M56.3,86.5L56.3,86.5c-9.5,0-17.3-7.7-17.3-17.2v0C39,59.7,46.7,52,56.2,52h0c9.5,0,17.2,7.7,17.2,17.2v0    C73.5,78.8,65.8,86.5,56.3,86.5z"></path>
	</defs>
              <clipPath id="SVGgraphicIllustration1ID4">
		<use xlink:href="#SVGgraphicIllustration1ID3" style="overflow:visible;"></use>
	</clipPath>
              <g transform="matrix(1 0 0 1 0 -3.814697e-06)" style="clip-path:url(#SVGgraphicIllustration1ID4);">
		<!-- Apply your (100px width to 100px height) image here -->
		<image id="SVGgraphicIllustration1Img1" style="overflow:visible;" width="100" height="100" xlink:href="../../assets/img/100x100/img1.jpg" transform="matrix(0.3666 0 0 0.3666 37.9219 50.5935)"></image>
	</g>
              <use xlink:href="#SVGgraphicIllustration1ID3" style="overflow:visible;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;"></use>
</g>
            <g>
	<path class="graphic-illustration-2 fill-white" d="M165,59.8L165,59.8c-8.3,0-15-6.7-15-15v0c0-8.3,6.7-15,15-15h0c8.3,0,15,6.7,15,15v0   C180,53,173.3,59.8,165,59.8z"></path>
              <!-- Apply your (160px width to 160px height) image here -->
              <image id="SVGgraphicIllustration1Img4" style="overflow:visible;" width="160" height="160" xlink:href="../../assets/img/160x160/img18.png" transform="matrix(0.1063 0 0 0.1063 156.5 36.25)"></image>
</g>
            <g>
	<defs>
		<path id="SVGgraphicIllustration1ID5" d="M177.8,127.5L177.8,127.5c-8.7,0-15.8-7.1-15.8-15.7v0c0-8.7,7.1-15.7,15.7-15.7h0    c8.7,0,15.7,7.1,15.7,15.7v0C193.5,120.4,186.4,127.5,177.8,127.5z"></path>
	</defs>
              <clipPath id="SVGgraphicIllustration1ID6">
		<use xlink:href="#SVGgraphicIllustration1ID5" style="overflow:visible;"></use>
	</clipPath>
              <g style="clip-path:url(#SVGgraphicIllustration1ID6);">
		<!-- Apply your (100px width to 100px height) image here -->
		<image id="SVGgraphicIllustration1Img2" style="overflow:visible;" width="100" height="100" xlink:href="../../assets/img/100x100/img2.jpg" transform="matrix(0.3347 0 0 0.3347 161.0156 95.0156)"></image>
	</g>
              <use xlink:href="#SVGgraphicIllustration1ID5" style="overflow:visible;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;"></use>
</g>
</svg>
        </figure>
        <!-- End SVG Shapes -->
      </div>
    </div>
  </div>
</div>










<div class="container space-top-1 space-bottom-2">
  <div class="row">
    <div class="col-lg-12">
      <!-- Property Item -->
      <div class="border-bottom pb-5 mb-5">
        <div class="row">
          <div class="col-md-4 d-md-flex align-items-md-start flex-md-column mb-5 mb-md-0">
            <!-- Gallery -->
            <a class="js-fancybox u-media-viewer mb-3" href="javascript:;" data-src="../../assets/img/1920x1080/img36.jpg" data-fancybox="fancyboxGallery1" data-caption="Front in frames - image #01" data-speed="700" data-is-infinite="true">
              <img class="img-fluid w-100" src="../../assets/img/480x320/img19.jpg" alt="Image Description">

              <div class="position-absolute bottom-0 right-0 pb-2 pr-2">
                    <span class="btn btn-icon btn-sm btn-white">
                      <span class="fas fa-images btn-icon__inner"></span>
                    </span>
              </div>
            </a>

            <img class="js-fancybox d-none" alt="Image Description" data-fancybox="fancyboxGallery1" data-src="../../assets/img/1920x1080/img37.jpg" data-caption="Front in frames - image #02" data-speed="700" data-is-infinite="true">
            <img class="js-fancybox d-none" alt="Image Description" data-caption="Front in frames - image #03" data-src="../../assets/img/1920x1080/img38.jpg" data-fancybox="fancyboxGallery1" data-speed="700" data-is-infinite="true">
            <!-- End Gallery -->

            <!-- Agent Info -->
            <div class="media align-items-center mt-auto">
              <div class="u-sm-avatar mr-2">
                <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description" title="Monica Fox">
              </div>
              <div class="media-body">
                <small class="d-block text-muted">Instructors</small>
                <span class="d-block">Adamu Aadamu Salisu</span>
              </div>
            </div>
            <!-- End Agent Info -->
          </div>

          <div class="col-md-8">
            <div class="row">
              <div class="col-8">
                <h1 class="h4 mb-1">
                  <a href="property-description.html">JavaScript Programming</a>
                </h1>
              </div>
              <div class="col-4 text-right">
                <span class="badge badge-success">ICT</span>
              </div>
            </div>

            <!-- Location -->
            <div class="mb-3">
              <p class="font-size-1" href="property-description.html">
                <span class="fas fa-map-marker-alt mr-1"></span>
               Duration: 7weeks
              </p>
            </div>
            <!-- End Location -->

            <p class="font-size-1">
              JavaScript is a client-side programming language used to create dynamic interactions in app, game and web development. Commonly represented as JS, this language is considered one of the core technologies of the web in conjunction with HTML and CSS.
            </p>

            <!-- Contacts -->
            <div class="d-flex align-items-center font-size-1">

              <a class="text-secondary mr-4" href="javascript:;">
                <span class="fas fa-star mr-1"></span>
                Learning Outcomes: Develop websites
              </a>
              <a class="btn btn-sm btn-soft-primary transition-3d-hover ml-auto" href="property-description.html">
                Apply
                <span class="fas fa-angle-right ml-1"></span>
              </a>
            </div>
            <!-- End Contacts -->
          </div>
        </div>
      </div>
      <!-- End Property Item -->


      <!-- Pagination -->
      <div class="d-flex justify-content-between align-items-center mt-5">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0">
            <li class="page-item ml-0">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>

        <small class="d-none d-sm-inline-block text-secondary">Page 1 out of 6</small>
      </div>
      <!-- End Pagination -->
    </div>


  </div>
</div>
